a{
    text-decoration: none;
     color: black;
}
li{
   
    display: inline;
    padding: 10px;
   
}
nav{
    text-align: center;
    
}
li:hover{
   transition: 1s;
    border-bottom: 3px solid brown;
    text-decoration: none;
    transition: all;
    
} 
img1{
    padding: 150px;
    
    margin-left: 25%;
    margin-bottom: 0;
    border: 2px solid white; 
    

}
div{
    background-color: white
    
}
.art{
text-align: end;

}

.img5{
  
  margin-left: 300px;
  margin-right: auto;
  display: block;
}
