a{
    text-decoration: none;
     color: black;
}
li{
   
    display: inline;
    padding: 10px;
   
}
nav{
    text-align: center;
    
}
li:hover{
   transition: 1s;
    border-bottom: 3px solid brown;
    text-decoration: none;
    
}
