a{
    text-decoration: none;
     color: black;
}
li{
   
    display: inline;
    padding: 10px;
   
}
nav{
    text-align: center;
    
}
li:hover{
   transition: 1s;
    border-bottom: 3px solid brown;
    text-decoration: none;
    transition: all;
    
} 
.img1{
    padding: 150px;
    
    
    margin-left: 25%;
    margin-bottom: 0;
    border: 2px solid white; 
    

}
div{
    background-color: white
    
}
.art{
text-align: end;

}
/* styles for world img */
.img5{
  margin-left: 250px;
  margin-right: auto;
  display: block;
}
/* spring-summer */
.summer{
    text-align: end;
}
.a{
    width: 900px;
    height: 400px;
    margin-left: 20px;

}
.b{
    width: 400px;
    height: 400px;
   
}